.pet-card-item {
  background-color: lightgrey;
  opacity: 80%;
  border: 0.5px black solid;
  border-radius: 15px;
  margin-left: 5px;
  padding: 5px;
  max-width: 250px;
}

.collapsible > button {
  border: none;
  background-color: lightgreen;
}

.collapsible {
}

.extra-info {
  background-color: lightgray;
  opacity: 75%;
  border-radius: 5px;
}
.extra-info > p {
  margin: 5px 0;
  color: black;
  text-align: left;
}

.pet-image-small {
  width: 80%;
  max-width: 100px;
  margin: 10px 0;
  border-radius: 50px;
}
.pet-image-big {
  width: 80%;
  max-width: 300px;
  margin: 10px 0;
  border-radius: 20px;
}
